In [2]:
from datetime import datetime
odds=[1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59]
right_this_minute=datetime.today().minute
if right_this_minute in odds:
    print("this is odd minute")
else:
    print("this is even minute")

this is even minute

In [3]:
import time

In [5]:
help(time.strftime)

Help on built-in function strftime in module time:

strftime(...)
    strftime(format[, tuple]) -> string

    Convert a time tuple to a string according to a format specification.
    See the library reference manual for formatting codes. When the time tuple
    is not present, current time as returned by localtime() is used.

    Commonly used format codes:

    %Y  Year with century as a decimal number.
    %m  Month as a decimal number [01,12].
    %d  Day of the month as a decimal number [01,31].
    %H  Hour (24-hour clock) as a decimal number [00,23].
    %M  Minute as a decimal number [00,59].
    %S  Second as a decimal number [00,61].
    %z  Time zone offset from UTC.
    %a  Locale's abbreviated weekday name.
    %A  Locale's full weekday name.
    %b  Locale's abbreviated month name.
    %B  Locale's full month name.
    %c  Locale's appropriate date and time representation.
    %I  Hour (12-hour clock) as a decimal number [01,12].
    %p  Locale's equivalent of either AM or PM.

    Other codes may be available on your platform.  See documentation for
    the C library strftime function.

In [9]:
time.strftime("%y-%m-%d %H:%M:%S %z %a %A %b %B %C %I %p")

'19-03-06 17:36:41 +0530 Wed Wednesday Mar March 20 05 PM'

In [10]:
import html

In [11]:
html.escape("this html fragment contains a<script>scrpit</script>")

'this html fragment contains a&lt;script&gt;scrpit&lt;/script&gt;'

In [16]:

html.escape("I &hearts ;python's&lt;standerd library&gt;.")

'I &amp;hearts ;python&#x27;s&amp;lt;standerd library&amp;gt;.'

In [19]:
l=[x for x in range(1,60,2)]

In [20]:
l

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59]

In [21]:
datetime.today()

datetime.datetime(2019, 3, 6, 17, 53, 20, 306922)

In [25]:
datetime.isoformat(datetime.today())

'2019-03-06T17:55:03.099918'

In [34]:
datetime.isoformat(datetime.today())

'2019-03-06T17:57:05.895108'

In [50]:
from datetime import datetime
from random import randint
import time
n=int(input("enter the number"))
odds=[x for x in range(1,60,2)]
for i in range(n):
    
    right_this_minute=datetime.today().minute
    if right_this_minute in odds:
        print("this is odd minute")
    else:
        print("this is even minute")
    time.sleep(randint(1,60))

enter the number2
this is even minute
this is even minute

In [ ]:
import random

In [42]:
random.randint(1,5)

5

In [46]:

help(time.sleep)

Help on built-in function sleep in module time:

sleep(...)
    sleep(seconds)

    Delay execution for a given number of seconds.  The argument may be
    a floating point number for subsecond precision.

In [55]:
word="BOTTLES"
for beer_num in range(3,0,-1):
    print(beer_num,word," OF BEER ON THE WALL. ")
    print(beer_num,word," OF BEER. ")
    print("TAKE ONE DOWN.")
    print("PASS IT AROUND.")
    
    if beer_num == 1:
        print("NO MORE BOTTLES OF BEAR ON THE WALL")
    else:
        new_num=beer_num-1
        if new_num ==1:
            word="BOTTLE"
        print(new_num,word,"OF BEER ON THE WALL\n")

3 BOTTLES  OF BEER ON THE WALL.
3 BOTTLES  OF BEER.
TAKE ONE DOWN.
PASS IT AROUND.
2 BOTTLES OF BEER ON THE WALL

2 BOTTLES  OF BEER ON THE WALL.
2 BOTTLES  OF BEER.
TAKE ONE DOWN.
PASS IT AROUND.
1 BOTTLE OF BEER ON THE WALL

1 BOTTLE  OF BEER ON THE WALL.
1 BOTTLE  OF BEER.
TAKE ONE DOWN.
PASS IT AROUND.
NO MORE BOTTLES OF BEAR ON THE WALL

In [84]:
a=dict(range(0,11,2))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [85]:
a

(1, 3, 5, 7, 9)

In [119]:
a='this is a string'

In [113]:

print(x for x in a)

<generator object <genexpr> at 0x000000FB9F7DC318>

In [114]:
print([x for x in a])

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [115]:
print(a)

this is a string

In [116]:
        def func(a):
            count=0
            for s in a:
                print(s)
                count+=1
            print(count)
            return count

In [117]:
a=func(a)

t
h
i
s

i
s

a

s
t
r
i
n
g
16

In [118]:
a

16

In [133]:
a[1:5:1]

'his '

In [136]:
vovel=['a','e','i','o','u']
word ="talib"
for w in word:
    if w in vovel:
        print(w)

a
i

In [157]:
vovel=['a','e','i','o','u']
word =input("enter the wordd here")
found=[]
for w in word:
 
    if w in vovel and w not in found:
        print(w)
        found.append(w)

enter the wordd hereu e a e i
u
e
a
i
['u', 'e', 'a', 'i']

In [150]:
li=[]

In [151]:
li.sort()

In [168]:
xyz=[1,2,3]

In [169]:

xyz.insert(4,3)

In [170]:
xyz

[1, 2, 3, 3]

In [171]:
xyz.insert(10,15)

In [172]:
xyz

[1, 2, 3, 3, 15]

In [192]:
phrase="Don't panic"
plist=list(phrase)

print(phrase)
print(plist)

for i in range(4):
    plist.pop()
plist.remove('D')
plist.remove("'")
plist.extend([plist.pop(),plist.pop()])
plist.insert(2,plist.pop())
plist.insert(4,'o')


new_phrase = ''.join(plist)
print(plist)
print(new_phrase)

Don't panic
['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c']
['o', 'n', ' ', 't', 'o', 'p']
on top

In [184]:
help(swap)

NameError: name 'swap' is not defined

In [193]:
a=[1,2,3,4,5]

In [194]:
b=a

In [195]:
b.append(6)

In [197]:
b

[1, 2, 3, 4, 5, 6]

In [198]:
a

[1, 2, 3, 4, 5, 6]

In [199]:
b=a.copy()

In [200]:
b.pop()

6

In [201]:
b

[1, 2, 3, 4, 5]

In [202]:
a

[1, 2, 3, 4, 5, 6]

In [203]:
test=a[3]

In [204]:
test

4

In [205]:
test=15

In [206]:
a

[1, 2, 3, 4, 5, 6]

In [217]:
a[::-1]

[6, 5, 4, 3, 2, 1]

In [218]:
st="this is a string"

In [219]:
st[::-1]

'gnirts a si siht'

In [220]:
a[:]

[1, 2, 3, 4, 5, 6]

In [221]:
a[::]

[1, 2, 3, 4, 5, 6]

In [223]:
book="The Hitchhiker's Guide to the Galaxy"
booklist=list(book)

In [224]:
booklist

['T',
 'h',
 'e',
 ' ',
 'H',
 'i',
 't',
 'c',
 'h',
 'h',
 'i',
 'k',
 'e',
 'r',
 "'",
 's',
 ' ',
 'G',
 'u',
 'i',
 'd',
 'e',
 ' ',
 't',
 'o',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'G',
 'a',
 'l',
 'a',
 'x',
 'y']

In [225]:
''.join(book[:3])

'The'

In [227]:
''.join(book[::-3])

"yl ttdG'khie"

In [235]:
phrase="Don't panic"
plist=list(phrase)

print(phrase)
print(plist)

new_phrase="".join(plist[1:3])
new_phrase=new_phrase + ''.join([plist[5], plist[4], plist[7], plist[6]])
print(plist)
print(new_phrase)

Don't panic
['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c']
['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c']
on tap

In [254]:
paranoid_android='Marvin the Paranooid Android'
letter=list(paranoid_android)
count=0
for i in letter:
    count+=1
    print('     '*count,i)

      M
           a
                r
                     v
                          i
                               n

                                         t
                                              h
                                                   e

                                                             P
                                                                  a
                                                                       r
                                                                            a
                                                                                 n
                                                                                      o
                                                                                           o
                                                                                                i
                                                                                                     d

                                                                                                               A
                                                                                                                    n
                                                                                                                         d
                                                                                                                              r
                                                                                                                                   o
                                                                                                                                        i
                                                                                                                                             d

In [273]:
 person3 = { 'Name': 'Ford Prefect', 'Gender':
'Male', 'Occupation': 'Researcher', 'Home Planet':
'Betelgeuse Seven' }

In [266]:
person3['Name']

'Ford Prefect'

In [267]:
person3['Name'][::-1]

'tceferP droF'

In [272]:
person3

{}

In [269]:

person3.clear()

In [276]:
for i in person3.values():
    print(i)

Ford Prefect
Male
Researcher
Betelgeuse Seven

In [277]:
tup=((1,2),(3,4))

In [278]:
dic=dict(tup)

In [279]:
dic

{1: 2, 3: 4}

In [296]:
lis=list(dic)

In [294]:
lis=[]

In [290]:
lis.extend([x for x in dic.values()])

In [298]:
lis

In [299]:
person3["Age"]=33

In [300]:
person3

{'Name': 'Ford Prefect',
 'Gender': 'Male',
 'Occupation': 'Researcher',
 'Home Planet': 'Betelgeuse Seven',
 'Age': 33}

In [306]:

for k in person3:
    print(k)

Name
Gender
Occupation
Home Planet
Age

In [309]:
for k,v in sorted(person3.items()):
    print(k,":",v)

Age : 33
Gender : Male
Home Planet : Betelgeuse Seven
Name : Ford Prefect
Occupation : Researcher

In [312]:
sorted(person3)

['Age', 'Gender', 'Home Planet', 'Name', 'Occupation']

In [316]:
#vowels+frequency
vowels = ['a', 'e', 'i', 'o', 'u']
word = input("Provide a word to search for vowels: ")
found={}
for letter in word:
    if letter in vowels:
        if letter not in found:
            found[letter]=0
        found[letter]+=1
for k,v in sorted(found.items()):
    print(k,"was found",v,"number of times")

Provide a word to search for vowels: this is a list of vowels found in the sentence
a was found 1 number of times
e was found 5 number of times
i was found 4 number of times
o was found 3 number of times
u was found 1 number of times

In [318]:
'a' in found

True

In [319]:
'w' in found

False

In [320]:
#setdefault

vowels = ['a', 'e', 'i', 'o', 'u']
word = input("Provide a word to search for vowels: ")
found={}
for letter in word:
    if letter in vowels:
        found.setdefault(letter,0)
        found[letter]+=1
for k,v in sorted(found.items()):
    print(k,"was found",v,"number of times")

Provide a word to search for vowels: this is a dictionary
a was found 2 number of times
i was found 4 number of times
o was found 1 number of times

In [321]:
 vowels = { 'a', 'e', 'e', 'i', 'o', 'u', 'u' }

In [324]:
vowels

{'a', 'e', 'i', 'o', 'u'}

In [325]:
vowel2='aaeeiioouuuuuuuuuuuuuuuuuuuuuu'

In [326]:
vowel2=set(vowel2)

In [327]:
vowel2

{'a', 'e', 'i', 'o', 'u'}

In [330]:
vowel2.add('s')

In [331]:
vowel2

{'a', 'e', 'g', 'i', 'o', 's', 'u'}

In [333]:
#vowels using sets
vowels=set('aeiou')
word=input("enter the sentence")
found=vowels.intersection(word)
print(found)

enter the sentencehello
{'o', 'e'}

In [335]:
people={'Ford': {'Occupation': 'Researcher', 'Gender': 'Male',
'Home Planet': 'Betelgeuse Seven', 'Name': 'Ford Prefect'},
'Trillian': {'Occupation': 'Mathematician', 'Gender':
'Female', 'Home Planet': 'Earth', 'Name': 'Tricia McMillan'}, 'Robot': {'Occupation': 'Paranoid Android',
'Gender': 'Unknown', 'Home Planet': 'Unknown', 'Name':
'Marvin'}, 'Arthur': {'Occupation': 'Sandwich-Maker',
'Gender': 'Male', 'Home Planet': 'Earth', 'Name': 'Arthur Dent'}}

In [336]:
import pprint
pprint.pprint(people)

{'Arthur': {'Gender': 'Male',
            'Home Planet': 'Earth',
            'Name': 'Arthur Dent',
            'Occupation': 'Sandwich-Maker'},
 'Ford': {'Gender': 'Male',
          'Home Planet': 'Betelgeuse Seven',
          'Name': 'Ford Prefect',
          'Occupation': 'Researcher'},
 'Robot': {'Gender': 'Unknown',
           'Home Planet': 'Unknown',
           'Name': 'Marvin',
           'Occupation': 'Paranoid Android'},
 'Trillian': {'Gender': 'Female',
              'Home Planet': 'Earth',
              'Name': 'Tricia McMillan',
              'Occupation': 'Mathematician'}}

In [337]:
people['Arthur']['Occupation']

'Sandwich-Maker'

In [341]:
def search4vowels():
    """this function is used to find the number of vowels in a sentence"""
    vowels = set('aeiou')
    word = input("Provide a word to search for vowels: ")
    found = vowels.intersection(set(word))
    for vowel in found:
        print(vowel)

In [342]:
search4vowels()

Provide a word to search for vowels: aaeiirrirputpe hdflgbdf
i
e
a
u

In [343]:
help(search4vowels)

Help on function search4vowels in module __main__:

search4vowels()
    this function is used to find the number of vowels in a sentence

In [344]:
bool(0)

False

In [345]:
bool(1)

True

In [346]:
bool(123)

True

In [347]:
bool('')

False

In [348]:
bool(None)

False

In [349]:
bool([{}])

True

In [350]:
bool({})

False

In [351]:
bool([1,2,3,4,5])

True

In [352]:
bool([{}][0])

False

In [355]:
def searchforvowels(word):
    """Return any vowels found in a supplied word."""
    vowels = set('aeiou')
    return vowels.intersection(set(word))

In [357]:
searchforvowels("this is search for vowels")

{'a', 'e', 'i', 'o'}

In [358]:
searchforvowels("sky")

set()

In [359]:
def searchforvowels(word:str)->set:
    """Return any vowels found in a supplied word."""
    vowels = set('aeiou')
    return vowels.intersection(set(word))

In [360]:
help(searchforvowels)

Help on function searchforvowels in module __main__:

searchforvowels(word: str) -> set
    Return any vowels found in a supplied word.

In [376]:
#funcion for searchoinig for letters from a phrase in a list

def search4letter(phtase:str,letters:str) -> set:
    """funcion for searchoinig for letters from a phrase in a list"""
    return (set(letters)).intersection(set(phrase))

In [370]:
help(search4letter)

Help on function search4letter in module __main__:

search4letter(phtase: str, letters: str) -> set
    funcion for searchoinig for letters from a phrase in a list

In [377]:
#funcion for searchoinig for letters from a phrase in a list

def search4letter(phtase:str,letters:str='aeiou') -> set:
    """funcion for searchoinig for letters from a phrase in a list with default values as vowels"""
    return (set(letters)).intersection(set(phrase))

In [378]:
help(search4letter)

Help on function search4letter in module __main__:

search4letter(phtase: str, letters: str = 'aeiou') -> set
    funcion for searchoinig for letters from a phrase in a list with default values as vowels

In [375]:
search4letter('this is vowels')

{'a', 'i', 'o'}